*.DS_Store
*.xls
*.xlsx
*.csv
*.txt
*.log
*.pdf

**/.ipynb_checkpoints/
**/__pycache__
**/test

/notebooks/research/format
/notebooks/research/logs
/notebooks/research/params
/notebooks/research/resources/*